div.authorio-auth {
	padding-top: 200px;
}

.authorio-auth h3 {
	text-align: center;
}

.authorio-auth .client-row {
	text-align: center;
	color: darkolivegreen;
	margin-top: -0.5em;
}

.authorio-auth span.client {
	font-weight: bold;
}

.auth-panel {
	background-color: gainsboro;
	border-bottom: 2px solid darkgray;
	padding-bottom: 3em;
}

.authorio-auth label {
	display: block;
	margin-left:  1.2em;
}

.authorio-auth input:not([type='checkbox']):not([type='submit']) {
	margin: 0 1em 1em 1em;
	width:  90%;
}

.authorio-auth form {
	margin-top: 2em;
}

.authorio-auth input.btn {
	margin-top: 2em;
}

.auth-btn-row {
	margin: 1em;
	width: 90%;
}

.authorio-auth .auth-btn-row .auth-btn {
	width: 45%;
	margin: 0.1em;
}

.authorio-auth .auth-btn-row .btn-success {
	float: right;
}

span.r-m {
	font-weight: 200;
}

label.remember {
	margin-top: -1em;
}

div.scopes {
	margin-top: -1.5em;
}

ul.scope {
	list-style: none;
	padding-left: 20px;
}

ul.scope li label {
	font-weight: normal;
}

div.topbar {
	border-bottom: 1px solid darkgray;
}

div.topbar li {
	display: inline-block;
	padding: 12px;
}

div.topbar ul {
	margin: 0 10px;
	padding: 0;
	text-align: right;
}

div.topbar li:first-child {
	float: left;
}
