<% content_for :title, "Authorio Login" %>

<div class="container authorio-auth">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 auth-panel">
      <h3>Authorio</h3>
      <div class="client-row">
        <span class="client"><%= params[:client_id] %></span> wants to authenticate
        <% if @scope %>and also<% end %>
      </div>
      <%= render 'shared/login_form', target: authorize_user_path(@user), user: @user, scopes: @scope, cancel: true %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
